<launch>
  <arg name="detector_config" default="$(find hazard_perception)/config/red_sphere.yaml"/>
  <arg name="tracking_config" default="$(find hazard_perception)/config/localization_tracking.yaml"/>
  <arg name="fusion_config" default="$(find hazard_perception)/config/fusion.yaml"/>

  <arg name="rgb_topic" default="/real_sense/rgb/image_raw"/>
  <arg name="depth_topic" default="/real_sense/depth/image_raw"/>
  <arg name="rgb_info_topic" default="/real_sense/rgb/camera_info"/>
  <arg name="depth_info_topic" default="/real_sense/depth/camera_info"/>
  <arg name="depth_points_topic" default="/real_sense/depth/points"/>
  <arg name="livox_topic" default="/scan"/>
  <arg name="livox_message_type" default="auto"/>
  <arg name="use_livox" default="false"/>
  <arg name="start_frame" default="start_frame"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base"/>
  <arg name="publish_debug_images" default="true"/>
  <arg name="publish_candidates" default="true"/>
  <arg name="output_directory" default="$(find hazard_perception)/../../results"/>
  <arg name="save_csv" default="false"/>
  <arg name="run_id" default=""/>
  <arg name="rviz" default="false"/>

  <node pkg="hazard_perception"
        type="hazard_pipeline_node.py"
        name="hazard_pipeline"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg detector_config)"/>
    <rosparam command="load" file="$(arg tracking_config)"/>
    <rosparam command="load" file="$(arg fusion_config)"/>
    <param name="rgb_topic" value="$(arg rgb_topic)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/>
    <param name="rgb_info_topic" value="$(arg rgb_info_topic)"/>
    <param name="depth_info_topic" value="$(arg depth_info_topic)"/>
    <param name="depth_points_topic" value="$(arg depth_points_topic)"/>
    <param name="livox_topic" value="$(arg livox_topic)"/>
    <param name="livox_message_type" value="$(arg livox_message_type)"/>
    <param name="use_livox" value="$(arg use_livox)"/>
    <param name="start_frame" value="$(arg start_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="publish_debug_images" value="$(arg publish_debug_images)"/>
    <param name="publish_candidates" value="$(arg publish_candidates)"/>
    <param name="output_directory" value="$(arg output_directory)"/>
    <param name="save_csv" value="$(arg save_csv)"/>
    <param name="run_id" value="$(arg run_id)"/>
  </node>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="hazard_perception_rviz"
        args="-d $(find hazard_perception)/rviz/hazard_perception.rviz"
        output="screen"/>
</launch>
