<launch>
  <arg name="config" default="$(find hazard_perception_v0)/config/red_sphere.yaml"/>
  <arg name="image_topic" default="/real_sense/rgb/image_raw"/>

  <node pkg="hazard_perception_v0"
        type="hazard_detector_node.py"
        name="hazard_detector"
        output="screen">
    <rosparam command="load" file="$(arg config)"/>
    <param name="image_topic" value="$(arg image_topic)"/>
  </node>
</launch>
