<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/a1_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo> -->

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>trunk</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <xacro:macro name="p3d_truth_plugin" params="plugin_name body_name topic_name frame_name">
        <gazebo>
            <plugin name="${plugin_name}" filename="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <update_rate>100</update_rate>
                <bodyName>${body_name}</bodyName>
                <topicName>${topic_name}</topicName>
                <frameName>${frame_name}</frameName>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
            </plugin>
        </gazebo>
    </xacro:macro>

    <xacro:if value="${'$(arg ENABLE_GROUND_TRUTH)' == 'true'}">
        <xacro:p3d_truth_plugin plugin_name="p3d_base_trunk_pos_vel" body_name="base" topic_name="ground_truth/base_trunk" frame_name="trunk"/>
        <xacro:p3d_truth_plugin plugin_name="p3d_base_w_pos_vel" body_name="base" topic_name="ground_truth/base_w" frame_name="world"/>
        <xacro:p3d_truth_plugin plugin_name="p3d_FL_foot_pos_vel" body_name="FL_foot" topic_name="ground_truth/FL_foot" frame_name="base"/>
        <xacro:p3d_truth_plugin plugin_name="p3d_FR_foot_pos_vel" body_name="FR_foot" topic_name="ground_truth/FR_foot" frame_name="base"/>
        <xacro:p3d_truth_plugin plugin_name="p3d_RL_foot_pos_vel" body_name="RL_foot" topic_name="ground_truth/RL_foot" frame_name="base"/>
        <xacro:p3d_truth_plugin plugin_name="p3d_RR_foot_pos_vel" body_name="RR_foot" topic_name="ground_truth/RR_foot" frame_name="base"/>
    </xacro:if>

    <xacro:if value="${'$(arg ENABLE_FOOT_CONTACT_SENSOR)' == 'true'}">
        <!-- Optional foot contact force topics. Disabling them keeps foot collisions unchanged. -->
        <gazebo reference="FR_calf">
            <sensor name="FR_foot_contact" type="contact">
                <update_rate>100</update_rate>
                <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
                <contact>
                    <collision>FR_calf_fixed_joint_lump__FR_foot_collision_1</collision>
                </contact>
            </sensor>
        </gazebo>
        <gazebo reference="FL_calf">
            <sensor name="FL_foot_contact" type="contact">
                <update_rate>100</update_rate>
                <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
                <contact>
                    <collision>FL_calf_fixed_joint_lump__FL_foot_collision_1</collision>
                </contact>
            </sensor>
        </gazebo>
        <gazebo reference="RR_calf">
            <sensor name="RR_foot_contact" type="contact">
                <update_rate>100</update_rate>
                <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
                <contact>
                    <collision>RR_calf_fixed_joint_lump__RR_foot_collision_1</collision>
                </contact>
            </sensor>
        </gazebo>
        <gazebo reference="RL_calf">
            <sensor name="RL_foot_contact" type="contact">
                <update_rate>100</update_rate>
                <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
                <contact>
                    <collision>RL_calf_fixed_joint_lump__RL_foot_collision_1</collision>
                </contact>
            </sensor>
        </gazebo>
    </xacro:if>

    <xacro:if value="${'$(arg ENABLE_FOOT_CONTACT_SENSOR)' == 'true' and '$(arg ENABLE_FOOT_FORCE_VISUAL)' == 'true'}">
        <!-- Visualization of foot contacts. Disabled by default for competition scenes. -->
        <gazebo reference="FR_foot">
            <visual>
                <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                    <topicName>FR_foot_contact</topicName>
                </plugin>
            </visual>
        </gazebo>
        <gazebo reference="FL_foot">
            <visual>
                <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                    <topicName>FL_foot_contact</topicName>
                </plugin>
            </visual>
        </gazebo>
        <gazebo reference="RR_foot">
            <visual>
                <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                    <topicName>RR_foot_contact</topicName>
                </plugin>
            </visual>
        </gazebo>
        <gazebo reference="RL_foot">
            <visual>
                <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                    <topicName>RL_foot_contact</topicName>
                </plugin>
            </visual>
        </gazebo>
    </xacro:if>

    <gazebo reference="base">
        <material>Gazebo/Green</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="FL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="FR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="RL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="RR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- gazebo livox mid360 plugins -->
    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:if value="${'$(arg ENABLE_LIVOX)' == 'true'}">
        <gazebo reference="laser_livox">
            <sensor type="ray" name="laser_livox">
                <always_on>true</always_on>
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>100</samples>
                            <resolution>1</resolution>
                            <min_angle>${0}</min_angle>
                            <max_angle>${2*M_PI}</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>${-5.22/180*M_PI}</min_angle>
                            <max_angle>${57.22/180*M_PI}</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>40</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.005</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>100</samples>
                                <resolution>1</resolution>
                                <min_angle>${0}</min_angle>
                                <max_angle>${2*M_PI}</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>360</samples>
                                <resolution>1</resolution>
                                <min_angle>${-5.22/180*M_PI}</min_angle>
                                <max_angle>${57.22/180*M_PI}</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>0.1</min>
                            <max>40</max>
                            <resolution>0.01</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.005</stddev>
                        </noise>
                    </ray>
                    <visualize>true</visualize>
                    <samples>24000</samples>
                    <downsample>1</downsample>
                    <csv_file_name>package://a1_description/scan_mode/mid360.csv</csv_file_name>
                    <ros_topic>/scan</ros_topic>
                    <frameName>laser_livox</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:if>

    <!-- gazebo livox imu-link plugins -->
    <xacro:if value="${'$(arg ENABLE_LIVOX_IMU)' == 'true'}">
        <gazebo reference="livox_imu_link">
            <gravity>true</gravity>
            <sensor name="imu_sensor" type="imu">
                <always_on>true</always_on>
                <update_rate>1000</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                    <topicName>/livox/imu</topicName>
                    <bodyName>livox_imu_link</bodyName>
                    <updateRateHZ>1000.0</updateRateHZ>
                    <gaussianNoise>0.0</gaussianNoise>
                    <xyzOffset>0 0 0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                    <frameName>livox_imu_link</frameName>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>
    </xacro:if>

    <!-- real_sense 深度相机(kinect)插件 -->
    <xacro:if value="${'$(arg ENABLE_REALSENSE)' == 'true'}">
        <gazebo reference="real_sense">
            <sensor type="depth" name="real_sense">
                <always_on>true</always_on>
                <update_rate>20.0</update_rate>
                <camera>
                    <horizontal_fov>${60.0*3.14/180.0}</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>640</width>
                        <height>480</height>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>8.0</far>
                    </clip>
                </camera>
                <plugin name="kinect_real_sense_controller" filename="libgazebo_ros_openni_kinect.so">
                    <cameraName>real_sense</cameraName>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10</updateRate>
                    <imageTopicName>rgb/image_raw</imageTopicName>
                    <depthImageTopicName>depth/image_raw</depthImageTopicName>
                    <pointCloudTopicName>depth/points</pointCloudTopicName>
                    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
                    <frameName>real_sense_optical_frame</frameName>
                    <baseline>0.1</baseline>
                    <distortion_k1>0.0</distortion_k1>
                    <distortion_k2>0.0</distortion_k2>
                    <distortion_k3>0.0</distortion_k3>
                    <distortion_t1>0.0</distortion_t1>
                    <distortion_t2>0.0</distortion_t2>
                    <pointCloudCutoff>0.4</pointCloudCutoff>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:if>

</robot>
